@use "colors" as c;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Overpass:wght@300;500;700&display=swap");
/*font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Overpass', sans-serif;
*/

// Variabler
// $red: #e64448;
// $white: #fff;
// $black: #3c3a48;
// $lessWhtie: #e2e1df;
// $lightBlue: #89c5c7;
// $darkBlue: #0b354b;
// $gray: #696c6d;
// $lightGray: #e1e2df;
// $orange: #eab244;
// $darkGreen: #3c3a48;


body {
  width: 400px;
  margin: auto;
  background-color: c.$red;
  font-family: "Overpass", sans-serif;
}

header {
  background-color: c.$white;
  padding-left: 5px;

  .logo {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

// Section one --------------------------------------------------------------
.local {
  display: block;
  background-color: c.$red;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;

  h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: c.$black;
  font-weight: bold;
  }

  p {
  color: c.$lessWhtie;
  font: weight 300px;
  }
}




//Section two --------------------------------------------------------------
.signup {
  display: block;
  background-color: c.$lightBlue;
  color: c.$darkBlue;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;


  h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: c.$gray;
  }

  label {
  display: block;
  margin-bottom: 5px;
  }

  input {
  display: block;
  margin-bottom: 20px;
  }
}

// Section three -------------------------------------------------------------
.bikes {
  background-color: c.$lightGray;
  text-align: center;
}

// Section four --------------------------------------------------------------
.about {
  display: block;
  background-color: c.$orange;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;

  h2 {
  color: c.$red;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  }

  p {
  color: c.$darkGreen;
  }

}

