@use "fonts";
@use "styling";
@use "colors" as c;
@include fonts.mainFonts;

/*font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Overpass', sans-serif;
*/

@mixin defaultSyling {
  width: 400px;
  margin: auto;
  background-color: c.$red;
  font-family: "Overpass", sans-serif;
}

body {
  @include defaultSyling()
}

header {
  background-color: c.$white;
  padding-left: 5px;

  .logo {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

// Section one --------------------------------------------------------------
.local {
@include styling.local;

  h1 {
@include styling.localH1
  }

  p {
@include styling.localP
  }
}




//Section two --------------------------------------------------------------
.signup {
  @include styling.signup
}

h2 {
  @include styling.signupH2
}

label {
  @include styling.signupLabel
}

input {
  @include styling.signupInput
}


// Section three -------------------------------------------------------------
.bikes {
  background-color: c.$lightGray;
  text-align: center;
}

// Section four --------------------------------------------------------------
.about {
  @include styling.about
}

h2 {
  @include styling.aboutH2
}

p {
  @include styling.aboutP
}



